body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: palevioletred;
    overflow-x: hidden;
    
}
.container{
    background-image: 
        linear-gradient(
            to right bottom,
            rgba(80, 80, 80, 0.619),
            rgba(9, 9, 9, 0.646)
        ),    
        url(img/restaurant.jpg); 
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;

    
}
.logo{
    
    position: absolute;
    right: 0;
    top: 10%;
    text-align: end;
    width: auto;
    height: auto;
    padding-right: 20%;
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
}
.menu{
    background-color:white;
    position: relative;
    top:70vh;
    height: auto;
    width: auto;
    padding: 10%;
    padding-bottom: 5%;
    
}
.img{
    
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.food{
    height: 40%;
    width: 40%;
}
.x{
    margin-top: 5%;
}

@media(max-width:375px){
    .img{
        flex-direction: column;       
    }
    .food{
        width: 100%;
        margin-bottom: 15px;
        }
    .x{
        margin-top: 0;
    }
}